.hero {
    margin-top: 100px;
    .owl-carousel {
        @include position($pos: static);
    }
    
    & > div {
        @include position($pos: relative);
    }
}

.hr-sld-wrap {
    display: flex !important;
}

.hr-sld-img {
    & > img {
        max-width: 100%;
        max-height: 320px;
    }
}
