.form-search {
    margin-top: 70px;
    padding-bottom: 62px;
    & > input, & > button {
        max-height: 56px;
        line-height: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    & > input {
        width: 100%;      
        padding-right: 10px;
        padding-left: 20px;
        border-top: 6px solid $color-br-tertiary;
        border-bottom: 6px solid $color-br-tertiary;
        border-left: 6px solid $color-br-tertiary;
    }

    & > button {  
        padding-right: 25px;
        padding-left: 25px;
        border-top: 6px solid $color-br-tertiary;
        border-right: 6px solid $color-br-tertiary;
        border-bottom: 6px solid $color-br-tertiary;
        color: $color-light;
        background-color: $color-highlight;
    }
}