.form-search {
    margin-top: 70px;
    padding-bottom: 62px;
    & > input, & > button {
        max-height: 56px;
        line-height: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    & > input {
        width: 100%;      
        padding-right: 10px;
        padding-left: 20px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 6px solid $color-br-tertiary;
        border-right: none;
    }

    & > button {  
        padding-right: 25px;
        padding-left: 25px;
        text-transform: uppercase;
        font-size: 0.875em;
        border: 6px solid $color-br-tertiary;
        border-left: none;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        color: $color-light;
        background-color: $color-highlight;
    }
}