.hero {
    margin-top: 100px;
    .owl-carousel {
        position: static;
    }
    
    .owl-dots {
        display: none;
    }
}

.hero-item {
    @include dsp-flex;
}

.hero-text-wrap {
    width: 42%;
    margin-top: 40px;
}

.hero-title {
    font-size: 5em;
    text-transform: uppercase;
    max-height: 280px;
    padding-left: 15px;
    overflow: hidden;
    color: $color-highlight;
}

.hero-desc {
    font-size: 1.75em;
    text-transform: capitalize;
    padding-left: 25px;
    margin-top: 30px;
    color: $color-light;
}

.hero-img-wrap {
    & > img {
        max-width: 100%;
    }
}

.hero-arrow {
    @include position(25%);
    transform: translateY(-25%);
    padding: 25px;
    border-radius: $br-rounded;
    border: 2px solid $color-highlight;

    & > span {
        @include position(50%);
        width: 15px;
        height: 15px;
        border: 2px solid $color-highlight;
        border-bottom: $br-none;
    }

    &.prev {
        left: 50px;
        & > span {
            left: 50%;
            transform: translate(-25%, -50%) rotate(-45deg);
            border-right: $br-none;
        }
    }
    &.next {
        right: 50px;
        & > span {
            right: 50%;
            transform: translate(25%, -50%) rotate(45deg);
            border-left: $br-none;
        }
    }
}

.form-search {
    margin-top: 70px;
    padding-bottom: 62px;
    & > input, & > button {
        max-height: 56px;
        line-height: 14px;
        padding-top: 14px;
        padding-bottom: 14px;
    }
    & > input {
        width: 100%;      
        padding-right: 10px;
        padding-left: 20px;
        border-bottom-left-radius: 25px;
        border-top-left-radius: 25px;
        border: 6px solid $color-br-tertiary;
        border-right: none;
    }

    & > button {
        @include ofl-ellipsis;    
        padding-right: 25px;
        padding-left: 25px;
        text-transform: uppercase;
        font-size: 0.875em;
        border: 6px solid $color-br-tertiary;
        border-left: none;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
        color: $color-light;
        background-color: $color-highlight;
    }
}