@media (max-width: map-get($resolutions, md)) {
    .btn {
        padding: 14px 42px;
    }
}

@media (max-width: map-get($resolutions, sm)) {
    .btn {
        padding: 10px 32px;
    }
}

@media (max-width: map-get($resolutions, xs)) {
    .btn {
        padding: 10px 28px;
        font-size: 1em;
        &.br-lg {
            border-width: 3px;
        }
    }
}
