.ftr-bot {
    padding-top: 40px;
    padding-bottom: 40px;
    font-size: 1.125em;
    background-color: $color-bg-tertiary;
}


.ftr-bot-elems {
    @include dsp-flex(null, space-between, baseline);
    & > div {
        width: 30%;
    }
}

.ftr-bot-services {
    text-align: left;
    text-transform: capitalize;
    & > li {
        display: inline-block;
        padding-right: 5px;
        & > a {
            &::after {
                content: "/";
                display: inline;
                padding-left: 10px;
                color: $color-light;
            }
        }
        &:last-of-type {
            & > a::after {
                content: none;
            }
        }
    }
}

.ftr-bot-socials {
    text-align: right;
    & > li {
        display: inline-block;
        padding-left: 20px;
        & > a {
            &:hover {
                color: $color-text-highlight;
                opacity: $opacity-default;
            }
        }
    }
}

.ftr-bot-logo {
    text-align: center;
    & > a {
        display: block;
        & > img {
            display: inline-block;
            max-width: 100%;
        }
    }
}