.ftr-top {
    padding-top: 50px;
    padding-bottom: 50px;
    background-color: #1f1f1f;
}

.ftr-top-elems {
    display: flex;
    justify-content: space-between;
    & > div {
        width: 30%;
    }
}