// Paths ---------------------------
$fonts-folder: "../assets/fonts";
$images-folder: "../assets/img/";

// Fonts ---------------------------
$font-icons: "Icomoon-Bs-Rev";

$font-primary: "Roboto-Light", serif;
$font-primary-ital: "Roboto-LightItalic", serif;
$font-secondary: "Roboto-Medium", serif;
$font-tertiary: "BebasNeue-Thin", serif;
$font-regular-primary: "Roboto-Regular", serif;
$font-regular-secondary: "BebasNeue-Regular", serif;
$font-bold: "Roboto-Bold", serif;

// Text ---------------------------
$font-bs: 16px;
$font-lg: 15px;
$font-md: 14px;
$font-sm: 13px;

// Container
$cont-width: 1070px;
$cont-padding: 20px;

// Resolutions ---------------------------
$screen-xl: 1440px;
$screen-lg: 1280px;
$screen-md: 1024px;
$screen-sm: 768px;
$screen-xs: 480px;
$screen-xxs: 360px;

// Multiply size values for all devices
$mlp-lg: 0.9;
$mlp-md: 0.8;
$mlp-sm: 0.7;
$mlp-xs: 0.6;