// Color Usage ---------------------------
$color-light: #fff;
$color-dark: #000;
$color-highlight: #febb18;

// Text Base Colors ---------------------------
$color-text-primary: #555;
$color-text-secondary: #999;
$color-text-tertiary: #868686;
$color-text-highlight: #359cd1;

// Font-icon base Colors ---------------------------
$color-icon-primary: #EAEBEC;

// Background Base Colors ---------------------------

// $color-bg-primary: #F4F6F6;
$color-bg-secondary:#359cd1;
// $color-bg-danger: #E2424E;
// $color-bg-line: #169CDF;

// Link colors
$color-link-primary: #1e8bc2;

$btn-colors: (
    primary: #0796DD,
    secondary: #0788C8,
    tertiary: #31B67F,
    active: #72B7D9
);

$btn-animation-colors: (
    primary: blue,
    secondary: orange,
    tertiary: crimson,
);

$valid-msg-colors: (
    success: green,
    warning: goldenrod,
    error: red
);

// Border Colors ---------------------------
$color-br-primary: #e7e7e7;
$color-br-tertiary: #5aadd8;

// Gradients ---------------------------
$ln-gr-primary: linear-gradient(164deg, #1e8bc3, #44a6d9);
