.blogs {
    background-color: $color-light;
    padding-top: 80px;
    padding-bottom: 94px;
}

.blg-head {
    text-align: center;
    color: $color-text-highlight;
}

.blg-btn-wrap {
    text-align: center;
    margin-top: 40px;
    button {
        text-transform: uppercase;
    }
}