@media (max-width: map-get($resolutions, lg)) {
    .ftr-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .ftr-bot {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .ftr-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .ftr-bot {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .ftr-top-form {
        & > input {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
        }
        & > button {
            padding: 8px;
        }
    }

    .ftr-bot-logo > a > img {
        max-width: 80%;
    }
}