@media (max-width: map-get($resolutions, lg)) {
    .ftr-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .ftr-bot {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .ftr-top {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .ftr-bot {
        padding-top: 25px;
        padding-bottom: 25px;
    }

    .ftr-top-form {
        & > input {
            padding-top: 8px;
            padding-bottom: 8px;
            padding-left: 10px;
        }
        & > button {
            padding: 8px;
        }
    }

    .ftr-bot-logo > a > img {
        max-width: 80%;
    }
}

@media (max-width: map-get($resolutions, sm)) {
    .ftr-top {
        padding-top: 0;
        padding-bottom: 20px;
    }

    .ftr-top-elems {
        flex-direction: column;
        & > div {
            width: 100%;
            margin-top: 20px;
        }
    }

    .tweets-list {
        & > li {
            padding-bottom: 5px;
            & > i {
                padding-top: 0;
                font-size: 1.5em;
            }
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    .ftr-bot {
        padding-top: 15px;
        padding-bottom: 15px;
    }

    .ftr-bot-elems {
        flex-direction: column;
        & > div {
            width: 100%;
            padding-bottom: 15px;
            &:last-of-type {
                padding-bottom: 0;
            }
        }
    }

    .ftr-bot-services {
        text-align: center;
        & > li {
            &:last-of-type {
                padding-right: 0;
            }
        }
    }

    .ftr-bot-logo {
        img {
            width: 160px;
        }
    }

    .ftr-bot-socials {
        text-align: center;
        & > li {
            &:first-of-type {
                padding-left: 0;
            }
        }
    }
}

@media (max-width: map-get($resolutions, xs)) {
    .ftr-top-elems > div {
        margin-top: 15px;
    }

    .ftr-top-form {
        margin-top: 15px;
        
        & > input {
            padding-top: 5px;
            padding-bottom: 5px;
        }

        & > button {
            padding: 5px;
        }
    }

    .ftr-bot {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}