@media (max-width: map-get($resolutions, lg)) {
    .ftr-top {
        padding-top: 40px;
        padding-bottom: 40px;
    }

    .ftr-bot {
        padding-top: 30px;
        padding-bottom: 30px;
    }
}