@media (max-width: map-get($resolutions, lg)) {
    header {
        padding-top: 40px;
    }
}

@media (max-width: map-get($resolutions, sm)) {
    header {
        padding-top: 30px;
    }

    .hdr > nav {
        & > ul {
            @include position(0, null, null, 0, fixed);
            z-index: $z-index-max;
            width: 100%;
            height: 100%;
            padding-top: 40px;
            flex-direction: column;
            align-items: center;
            font-size: 1.5em;
            text-align: center;
            background-image: $ln-gr-primary;
            transition: transform $trns-duration ease-out;
            transform: translateY(100%) rotate(-90deg);
            & > li {
                padding-right: 0;
                padding-bottom: 20px;
                width: 100%;
                display: block;
                & > a {
                    display: block;
                    &.active {
                        display: inline-block;
                    }
                }
            }
        }

        & > button {
            &.nav {
                display: block;
            }

            &.close {
                position: relative;
                z-index: $z-index-max;
            }

            &.hidden {
                display: none;
            }

            &.visible {
                display: block;
            }
        }
    }
}

@media (max-width: map-get($resolutions, xs)) {
    header {
        padding-top: 20px;
    }
    .hdr-logo {
        max-width: 85%;
    }
}