.btn {
    @include ofl-ellipsis;
    cursor: pointer;
    padding: 18px 70px;
    font-size: 1.125em;
    transition: $trns-duration-xs ease-in-out;

    &.w-100 {
        max-width: 100%;
        width: 100%;
    }
    &.minw-60 {
        min-width: 60px;
    }

    &.minw-120 {
        min-width: 120px;
    }

    &.maxw-120 {
        max-width: 120px;
    }

    &.maxw-220 {
        max-width: 220px;
    }

    &.maxw-full {
        max-width: 100%;
    }

    &.filled {
        background-image: linear-gradient(164deg, #1e8bc3, #44a6d9);
        color: $color-light;
    }

    &.light {
        background-color: $color-light;
        color: $color-text-tertiary;
    }

    &.special {
        text-transform: uppercase;
        font-size: 0.875em;
        font-family: $font-secondary;
        border-left: none;
        border-bottom-right-radius: 25px;
        border-top-right-radius: 25px;
    }

    &.br-lg {
        border: 6px solid $color-br-primary;
        border-radius: 50px;
    }

    &.br-none {
        border: none;
        border-radius: 50px;
    }

    &:hover {
        opacity: $opacity-primary;
    }
}

.btn-clear {
    //all: unset;
    background: none;
    border: unset;
    padding: unset;
    &:hover {
        cursor: pointer;
        opacity: $opacity-primary;
    }
}


