input, textarea, select {
    &.w-100 {
        max-width: none;
        width: 100%;
    }
    &.mxw-400 {
        max-width: 400px;
    }
}

input::placeholder {
    font-size: 1em;
    font-family: $font-regular-primary;
    color: $color-text-tertiary;
}

.fld-special {
    border-bottom-left-radius: 25px;
    border-top-left-radius: 25px;
    border-right: $br-none;
}
