.cnt-map {
    position: static !important;
    &::after {
        content: "";
        @include position(0);
        width: 100%;
        height: 100%;
        background-color: $color-bg-map;
    }
}
