.partners {
    margin-top: 30px;
    padding-top: 60px;
    padding-bottom: 70px;
    background-color: $color-bg-secondary;
}

.prt-hd {
    text-align: center;
    color: $color-light;
}

.prt-list {
    img {
        max-width: 220px;
        max-height: 40px;
    }
}