@media (max-width: map-get($resolutions, lg)) {
    .categories {
        padding-top: 70px;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .categories {
        padding-top: 60px;
    }
}
