@media (max-width: map-get($resolutions, lg)) {
    .contacts {
        margin-top: 40px;
    }

    .cnt-form {
        margin: 60px auto;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .contacts {
        margin-top: 30px;
    }

    .cnt-form {
        margin: 50px auto;
        & > input {
            height: 40px;
            line-height: 40px;
        }
    }
}