@media (max-width: map-get($resolutions, lg)) {
    .contacts {
        margin-top: 40px;
    }

    .cnt-form {
        margin: 60px auto;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .contacts {
        margin-top: 30px;
    }

    .cnt-form {
        margin: 50px auto;
        & > input {
            height: 40px;
            line-height: 40px;
        }
    }
}

@media (max-width: map-get($resolutions, sm)) {
   
    .cnt-form {
        margin: 30px auto;
        & > * {
            margin-bottom: 25px;
        }

        & > input {
            height: 36px;
            line-height: 36px;
        }

        & > textarea {
            min-height: 120px;
            max-height: 120px;
        }
    }
}