@media (max-width: map-get($resolutions, lg)) {
    .hero {
        margin-top: 70px;
    }

    .hr-sld-list {
        max-width: 85%;
        margin: 0 auto;
    }

    .hr-sld-txt {
        width: 70%;
        padding-left: 30px;
    }

    .hr-sld-ttl {
        font-size: 3em;
    }

    .hr-sld-dsc {
        font-size: 1.5em;
    }

    .hr-sld-arw {
        padding: 15px;
        & > span {
            width: 10px;
            height: 10px;
        }

        &.prev {
            left: 10px;
        }

        &.next {
            right: 10px;
        }
    }

    .hr-sld-img {
        @include position($pos: relative, $right: 20px);
    }      
}

@media (max-width: map-get($resolutions, md)) {
    .hero {
        margin-top: 60px;
    }

    .hr-sld-img {
        right: 30px;
    }

    .form-search {
        & > input, 
        & > button {
            max-height: 45px;
            line-height: 10px;
            padding-top: 10px;
            padding-bottom: 10px;
        }
        & > input {
            max-width: 40%;
            border-top: 3px solid $color-br-tertiary;
            border-bottom: 3px solid $color-br-tertiary;
            border-left: 3px solid $color-br-tertiary;
        }
    
        & > button {  
            padding-right: 20px;
            padding-left: 20px;
            border-top: 3px solid $color-br-tertiary;
            border-right: 3px solid $color-br-tertiary;
            border-bottom: 3px solid $color-br-tertiary;
        }
    }
}