@media (max-width: map-get($resolutions, lg)) {
    .news {
        padding-top: 70px;
    }

    .nw-txt {
        padding: 20px;
        & > p, 
        & > a {
            margin-top: 20px;
        }
    }
}

@media (max-width: map-get($resolutions, md)) {
    .news {
        padding-top: 60px;
    }
}

@media (max-width: map-get($resolutions, sm)) {
    .news {
        padding-top: 40px;
    }

    .nw-list {
        margin-top: 40px;
    }

    .nw-txt {
        padding: 10px;
    }
}
