@media (max-width: map-get($resolutions, lg)) {
    .partners {
        padding-top: 40px;
        padding-bottom: 50px;
    }
    
    .prt-list {
        margin-top: 50px;
    }
}

@media (max-width: map-get($resolutions, md)) {
    .partners {
        padding-top: 30px;
        padding-bottom: 40px;
    }

    .prt-list {
        margin-top: 40px;
    }

    .prt-sld-arw {
        padding: 12px;
        & > span {
            width: 8px;
            height: 8px;
        }
    }
}

@media (max-width: map-get($resolutions, sm)) {
    .partners {
        padding-top: 20px;
        padding-bottom: 30px;
    }

    .prt-list {
        width: 100%;
    }

    .prt-sld-arw {
        display: none;
    }
}